<a href="javascript:" id="return-to-top"><i class="fas fa-arrow-up"></i></a>

<script src="/template/js/jquery-1.12.3.min.js"></script>
<script src="/template/js/jquery.easing.min.js"></script>
<script src="/template/js/jquery.waypoints.min.js"></script>
<script src="/template/js/jquery.counterup.min.js"></script>
<script src="/template/js/popper.min.js"></script>
<script src="/template/js/bootstrap.min.js"></script>
<script src="/template/js/isotope.pkgd.min.js"></script>
<script src="/template/js/infinite-scroll.min.js"></script>
<script src="/template/js/imagesloaded.pkgd.min.js"></script>
<script src="/template/js/slick.min.js"></script>
<script src="/template/js/contact.js"></script>
<script src="/template/js/validator.js"></script>
<script src="/template/js/wow.min.js"></script>
<script src="/template/js/morphext.min.js"></script>
<script src="/template/js/parallax.min.js"></script>
<script src="/template/js/jquery.magnific-popup.min.js"></script>
<script src="/template/js/custom.js"></script>